/* Root section */
:root {
    --color-primary: rgb(27,116,91);
    --color-secondary: rgb(250, 214, 218);
    --color-accent: rgb(169, 232, 252);
    --color-body: rgb(255, 255, 255);
}
/*
* {
    box-sizing: border-box;
}*/

/* All Pages */
/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}
body {
    font-family: Syne Mono, Arial, Helvetica, sans-serif;
    color: var(--color-secondary);
    line-height: 1;
    font-size: 2.4rem;
    background: rgb(27,116,91);
    background: linear-gradient(196deg, rgba(27,116,91,0.7506712157519257) 9%, rgba(28,59,61,0.8543126723345589) 100%);
}
h1 {
    color: var(--color-secondary);
    font-size: 4rem; /* = * 10 px */
}
h2 {
    color: var(--color-headings);
    font-size: 3.2rem;
}
h3 {
    font-size: 2.8rem;
    color: var(--color-accent);
}
time {
    color: var(--color-secondary);
}
/* Image Responsiveness */
.responsive {
    max-width: 100%;
    height: auto;
}
/* Links */
a {
    text-decoration: none;
    color: whitesmoke;
}
a:visited {
    color: whitesmoke;
}


/* Media queries */
/* Home Page and default*/
@media screen and (min-width: 1024px){ /*  center home photo surface pro, ipad mini/air,  */
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
    /* Navbar */
    .nav_item {
        font-size: 4rem;
    }
    .nav .list {
        display: flex;
        justify-content: space-around;
        height: 6vh;
    }
    .header {
        margin: 8rem 0 10rem 0;
    }
    /* Grid */
    .container {
        /* height: 400vh;  why this no work?
        margin-top: 6rem */
        margin: 0 2rem 0 2rem;
    }
    .container .box-blurb {
        font-size: 6rem;
    }
    .container .box-photo {
        grid-row: span 2;
    }
    .container .box-text {
        grid-column: 1 / 2;
        align-self: center;
        font-size: 3rem;
    }
    /* Portfolio Page */
    #portfolio {
        margin: 0 1rem 0 1rem; /* this is not needed? */
    }
    /* About Page */
    #about {  /*clean all this up */
        height: 20vh;
        margin: 0 20rem 0 20rem;
    }
    #about .box-quote {
        align-self: center;
        font-size: 4.2rem;
        margin: 4rem;
    }
    #about .box-about {
        font-size: 2.6rem;
    }

    /* Blog Page*/
    .blog_div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog_div .blog {
        width: 45vw;
        margin: 2rem 4rem 4rem; 
    }
    .blog_div .blog_image {
        margin: 4rem;
    }
    .oldblog {
        text-align: center;
    }
}


/* MAIN CSS and Default */ 
/* Navbar All*/
.list {
    padding: 0px;
    text-align: center;
}
.list a:hover {
    background-color: var(--color-accent);
    color: whitesmoke;
    padding: 1.1rem;
    border-radius: 10px;
  }
.nav_item {
    list-style-type: none; 
    transition: color 0.3s;
    background-color: var(--color-secondary);
    margin-bottom: .5rem;
    border-radius: 10px;
}
.nav_item > a {
    color: var(--color-primary);
}
/* Header All*/
.header {
    text-align: center;
}
/* Index Page */
/* Grid */
.container {
    display: grid;
    grid-template: auto 25rem / 40fr 60fr;
    gap: 10px;
    height: 70vh;
    margin-bottom: 8rem;
}
.box-blurb {
    text-align: center;
    color: var(--color-accent);
    font-size: 3rem;
    align-self: center;
}
.box-photo {
    align-self: center;
}
.box-text {
    grid-column: 1 / 3;
    color: var(--color-secondary);
    font-size: 3rem;
    text-align: center;
}
/* Footer All */
.footer {
    font-size: 2rem;
    text-align: center;
    color: var(--color-accent);
    margin-top: 20rem;
}
/* everything above has been checked */

/* About Page */
/* Grid */
#about {  /* set media quries*/
    display: grid;
    grid-template: 25rem auto / 40fr 60fr;
    gap: 10px;
    height: 200vh;              /* adjust when finished */ 
    margin-top: 4rem;
    margin-bottom: 6rem;
    align-content: center;
    justify-self: center;
}
.box-quote {
    grid-column: 1 / 3;
    text-align: center;
    color: var(--color-accent);
    font-size: 3rem;
    justify-content: center;
    align-self: center;
}
.box-about {
    grid-column: span 2;
    color: var(--color-secondary);
    font-size: 2rem;
}
.box-mypic {
    grid-column: 1 / 3;
    grid-row: span 2;
    overflow: hidden;
}
/* Links */
.resume a:hover {
    color: var(--color-accent);
    padding: 0.5rem;
  }


/* Blog Page*/
/* Blog Posts */
.blog_div {
    margin-top: 6rem;
}
.blog {
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 8rem;
    overflow: hidden; /* responsive doesn't work here? */
}
.title {
    margin-left: 4rem;
}
.blog_text {
    margin-left: 4rem;
    margin-bottom: 8rem;
}
/* Blog List */
.previous {
    display: flex;
    justify-content: center;
}
#moreblogs {
    display: block;
    text-align: center;
    margin-bottom: 6rem;
}
.oldblog {
    margin-bottom: 6rem;
}


/* Contact Page*/
/* List of links */
.contact_div {
    display: flex;
    justify-content: center;
}
.contact_div .contact {
    justify-content: center;
    text-align: center;
}
/* Links */
.contact a:hover {
    color: var(--color-accent);
    padding: 1.1rem;
}
/* Image */
.image_div {
    display: flex;
    justify-content: center;
}