
:root {
    --color-primary: rgb(27,116,91);
    --color-secondary: rgb(250, 214, 218);
    --color-accent: rgb(169, 232, 252);
    --color-headings: rgb(39, 35, 35);
    --color-body: brown;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}
body {
    font-family: Syne Mono, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    line-height: 1;
    font-size: 2.4rem;
    background: rgb(27,116,91);
    background: linear-gradient(196deg, rgba(27,116,91,0.7506712157519257) 9%, rgba(28,59,61,0.8543126723345589) 100%);
}
h1, h2, h3 {
    color: var(--color-secondary);
    margin-bottom: 1rem; /* needed? */
}
h1 {
    font-size: 4rem; /* = * 10 px */
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.8rem;
    
}

/* Media queries */
@media screen and (min-width: 1024px){ /*check size */
    body {
        font-size: 1.8rem; /* check sizes */
    }
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
    .nav {
        height: 6rem; 
    }
    .nav__item {
        font-size: 4rem;
    }
    .nav .list {
        display: flex;
        justify-content: space-around;
        height: 7vh;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .content .photo {
        width: 1366px;
        height: 768px;
    }
}
/*@media screen and (min-width: 1024px){ /* WHY DOES THIS NOT WORK? We'll do icons
    .link-arrow-right {
        font-size: 14rem;
    }
    .link-arrow-left {
        font-size: 14rem;
    }
    .link-arrow-right:hover::after {
        font-size: 20rem;
    }
    .link-arrow-left:hover::after {
        font-size: 20rem;
    }
*/

/* Links */
a {
    text-decoration: none;
}
/*
 /* this is all repeated, fix            Get arrow icons.
.link-arrow-right {
    color: var(--color-accent);
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link-arrow-right::after { /* WHY DOES THIS NOT WORK IN THE ABOVE? 
    content: '>';
}
.link-arrow-right:hover::after {
    font-size: 8rem;
    transition: 0.5s;
}
.link-arrow-left {
    color: var(--color-accent);
    font-size: 4rem;
    display: flex;
    align-items: center; 
}
.link-arrow-left::after {
    content: '<';
}
.link-arrow-left:hover::after {
    font-size: 8rem;
    transition: 0.5s;
}

* {
    box-sizing: border-box;  don't think i need this?
}
*/

.nav {
    /*background: rgb(241, 235, 179);*/
    /*display: flex;*/
}
.list {
    width: 100%;
    margin: 0;
    padding: 0px;
    text-align: center;
}
.list a:hover {
    background-color: var(--color-accent);
    color: whitesmoke;
    padding: 1.1rem;
  }
.nav__item {
    list-style-type: none; 
    transition: color 0.3s;
    background-color: var(--color-secondary);
    margin-bottom: .5rem;
}
.nav__item > a {
    color: var(--color-primary);
}

/* Header */
.header {
    text-align: center;
}

/* body */
.container {
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
    
}
.content {
    width: 80vw;
    height: 85vh;
    margin: 5rem 0 10rem;
    display: flex;
}
.photo {
    justify-content: center;
    padding: 0 0 0 0;  /* seems to repeat the photo without this, could try no repeat*/
    border: 3px solid var(--color-secondary);
    outline: 1px solid #000;
    margin: 1px;
    width: 560px;
    height: 650px;
 }


/*body {
    background-image: url("MJ70.png");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
   }
.header {
    color: rgb(134, 207, 250);
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.nav {
    display: inline;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    text-align: center;
}
.nav__item {
    padding: 0 2rem;
    display: inline;
}

.nav__item > a {
    color: rgb(247, 124, 23);
    opacity: 0.8;
    transition: color 0.3s;
    font-size: 22px;
}
.nav__item > a:hover {
    color: white;
}
.info {
    color: rgb(54, 53, 53);
    opacity: 0.9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10%;
    letter-spacing: 2px;
    font-size: 30px;
}
.infobox {
    color: rgb(54, 53, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
    width: 40%;
    font-size: 16px;
} */
.footer {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /* height: rem;             Footer height */
    color: var(--color-accent);
}